<configuration debug='true'>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	  	<File>/tmp/${application-name}.log</File>
	  	<layout class="ch.qos.logback.classic.PatternLayout">
	    	<Pattern>%d %p %t %c - %m%n</Pattern>
	  	</layout>
	</appender>    

    <!--<logger name="org.atmosphere" level="TRACE"/>-->
    <!--<logger name="org.atmosphere.cpr.AtmosphereResourceEventListenerAdapter" level="INFO"/>-->
    <!--<logger name="org.atmosphere.cpr.AtmosphereResourceEventListener" level="INFO"/>-->

    <!--<logger name="org.atmosphere.cpr.AtmosphereResourceImpl" level="DEBUG"/>-->
    <!--<logger name="org.atmosphere.cpr.AsyncSupportListenerAdapter" level="INFO"/>-->

    <logger name="atmospheremvc.com.AtmosphereHandler" level="INFO"/>
    <logger name="atmospheremvc.com.AtmosphereResourceCache" level="INFO"/>
    <logger name="atmospheremvc.com.MessageQueue" level="ERROR"/>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
