article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


#boardContainer {
	display: table;
	margin: 0 auto;
}

#messageOpponentConnectionLost {
	background-color: #AB0000;
	font-weight: bolder;
	letter-spacing: 3px;
}