<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('Debug Overview', ~{::content})}">

<th:block th:fragment="content">
    <a th:href="@{/Debug(pass=${pass})}" class="btn btn-primary">
        Refresh
    </a>
    
    <a th:href="@{/Debug/resetGame(pass=${pass})}" class="btn btn-primary">
        Reset all games
    </a>

    <h3>WebSocket Sessions</h3>
    <ul>
        <li th:each="item : ${webSocketSessions}">
            SessionID={<span th:text="${item.sessionId}"></span>}, 
            disconnected={<span th:text="${item.disconnected}"></span>}, 
            Player={<a th:href="'#player' + ${item.player.id}" th:text="${item.player.id}"></a>, 
            <span th:text="${item.player.side}"></span>}
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <h3>GameNotifications</h3>
            <div class="col-sm-1">ID</div>
            <div class="col-sm-3">EMAIL</div>
            <div class="col-sm-2">CREATED_ON</div>
            <div class="col-sm-2">CONFIRMED</div>
            <div class="col-sm-4">CONFIRMED_ID</div>
        </div>
        <div class="row" th:each="gn : ${gameNotifications}">
            <div class="col-sm-1" th:text="${gn.id}"></div>
            <div class="col-sm-3" th:text="${gn.email}"></div>
            <div class="col-sm-2" th:text="${gn.createdOn}"></div>
            <div class="col-sm-2" th:text="${gn.confirmed}"></div>
            <div class="col-sm-4" th:text="${gn.confirmId}"></div>
        </div>
    </div>

    <div th:each="game : ${games}">
        <h2>Game: <span th:text="${game.id}"></span></h2>
        <p>Created = <span th:text="${game.createdOn}"></span></p>

        <h3>Fields</h3>
        <div th:each="field : ${game.board.fields}">
            <span th:text="${field}"></span><br />
        </div>

        <h3>Phase</h3>
        <ol>
            <li th:each="subPhase : ${T(de.oglimmer.ggo.web.action.DebugActionBean).buildPhaseStack(game)}" th:text="${subPhase}"></li>
        </ol>

        <h3>Players</h3>
        <div th:each="p : ${game.players}">
            <h4><a th:name="'player' + ${p.id}"><span th:text="${p.id}"></span>/<span th:text="${p.side}"></span></a></h4>
            <p>Last action = <span th:text="${p.lastAction}"></span></p>
            <p>Last connection = <span th:text="${p.lastConnection}"></span></p>
            <p th:text="${T(de.oglimmer.ggo.web.action.DebugActionBean).getWebSocketSessions(p)}"></p>
            <div th:each="u : ${p.unitInHand}">
                <span th:text="${u}"></span><br />
            </div>
            <span th:text="${p.uiStates}"></span><br />
        </div>
    </div>
</th:block>

</html>