<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)">
<head>
	<meta charset="utf-8" />
	<title th:text="${title}">GridGameOne</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
</head>
<body>

	<nav class="navbar navbar-inverse navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GridGameOne</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/Help}" target="_blank">Instructions</a></li>
			</ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
		<div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
		
		<th:block th:replace="${content}"></th:block>

      <hr>

      <footer>
        <p>Created by <a href="http://oglimmer.de" target="_blank">oglimmer.de</a> - <span th:text="${longVersion}">??</span> - <a th:href="@{/Impressum}">Impressum/Kontakt/Datenschutz&nbsp;</a> </p>
      </footer>
    </div> <!-- /container -->

</body>
</html>